<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gdoce-test</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-color: #212121">
    <div class="container p-4 text-light">
        <h1>Test eficiencia algoritmo de búsqueda</h1>
        <div class="col-md-6 m-4">
            <form action="{% url 'number' %}" class="card card-body p-6"
                    style="background-color: #121212; display: flex; align-items: center;">
                <label for="numero"><h3>Introducir un número (1-10000000000):</h3></label>
                <div class="col col-md-4">
                    <input type="number" name="numero" id="numero" required min="1" max="10000000000" class="form-control">
                </div>
                <div>
                    <button class="btn btn-primary m-4 mb-2">Comenzar búsqueda</button>
                </div>
            </form>
            {% if numero %}
                <h4 class="m-4">Encontrado el número {{numero}} en {{intentos}} intentos</h4>
            {% endif %}
        </div>
    </div>
</body>
</html>